{% extends 'videohost/base.html' %}
{% block content %}

<div class="channel_cover"></div>
<div class="my_channel_header">
   <div class="channel_avatar"></div>
</div>
<div class="my_channel_navigation">
   <ul>
       <li><a href="{% url 'channel_videos' %}">Мои видео</a></li>
       <li><a href="#">Описание</a></li>
       <li><a href="#">Аналитика</a></li>
       <li><a href="{% url 'my_channel_settings' %}">Настройки</a></li>
   </ul>
</div>

<div class="my_channel_settings_navigation">
    <ul>
        <li><a href="{% url 'edit' %}">Редактировать мой канал</a></li>
        <li><a href="{% url 'password_change' %}">Изменить пароль</a></li>
    </ul>
</div>




{% endblock %}